doctype html
html(lang="en")
	head
		title YourVoice - shout your voice to the world
		link(href='/public/css/main.css', rel='stylesheet')
	header
		p Welcome, 
			span(id="display-name")
			span(id="testingZone") test
		a(class="menu",href="/profile") Profile
		p |
		a(class="menu",href="/newPoll") New Poll
		p |
		a(class="menu",href="/") home
		p |
		a(class="menu",href="/logout") Logout

	body
		.container
			img(src="/public/img/clementine_150.png")
			br
			p(class="clementine-text") YourVoice
			|!{question}
			|!{voice1}
			|!{voice2}
script(src="common/ajax-functions.js")
script(src="controllers/userController.client.js")