doctype html
html(lang="en")
	head
		title YourVoice - shout your voice to the world
		link(href='/public/css/main.css', rel='stylesheet')
		p(id="id") !{poll}
	header
		p Welcome, 
			span(id="display-name")
			span(id="testingZone") test
		a(class="menu",href="/profile") Profile
		p |
		a(class="menu",href="/newPoll") New Poll
		p |
		a(class="menu",href="/") home
		p |
		a(class="menu",href="/logout") Logout

	body
		.container
			img(src="/public/img/clementine_150.png")
			br
			p(class="clementine-text") YourVoice
			|!{question}
			span(id='voice1')
			span(id='result1')
			button.btn(id="btn1") voice1
			span(id='voice2')
			span(id='result2')
			button.btn(id="btn2") voice2
			span(id='voice3')
			span(id="result3")
			button.btn(id="btn3") voice3
			span(id='voice4')
			span(id="result4")
			button.btn(id="btn4") voice4
			div(id="myPieChart")
script(type="text/javascript",src="common/ajax-functions.js")
script(type="text/javascript",src="controllers/userController.client.js")
script(type="text/javascript",src="https://www.gstatic.com/charts/loader.js")
script(type="text/javascript",src="controllers/voiceController.client.js")
